@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: "Ubuntu";
  color: #151515;
  font-size: 16px;
  line-height: 1.3;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

*,
*:after,
*:before {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #fff;
  background-color: #4A34AE;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #fff;
  background-color: #4A34AE;
}

::-moz-selection {
  color: #fff;
  background-color: #4A34AE;
}

::selection {
  color: #fff;
  background-color: #4A34AE;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

a {
  color: #151515;
}

a:hover {
  color: #4A34AE;
}

button {
  border: transparent;
  background: none;
}

option {
  color: #151515;
}

textarea {
  resize: none;
}

input,
textarea,
select {
  color: #151515;
  font-family: "Ubuntu";
  font-size: 14px;
  padding: 12px 30px;
  background: #fff;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5);
  border: 1px solid #C9C2DF;
  border-radius: 3px;
}

input.btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #151515;
}

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
textarea::-moz-placeholder {
  color: #151515;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #151515;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #151515;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
textarea::placeholder {
  color: #151515;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  color: #151515;
  -webkit-box-shadow: inset 0px 1px 3px 1px #4A34AE;
          box-shadow: inset 0px 1px 3px 1px #4A34AE;
  outline: none;
}

.select__wrp {
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  position: relative;
  min-width: 270px;
  background-color: #fff;
}

.select__wrp::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 6px;
  background: url("../img/icon__arr-bot.png") no-repeat 50% 50%/contain;
  top: 50%;
  margin-top: -4px;
  right: 10px;
}

.select__wrp select {
  width: 100%;
  background-color: transparent;
  padding: 8px 40px 8px 12px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select__wrp select option {
  width: 100%;
}

.tabs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tabs__list li {
  cursor: pointer;
}

.tabs__content-item {
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.checkbox {
  min-width: 200px;
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 20px;
  cursor: pointer;
}

.checkbox .checkbox__text {
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  display: block;
}

.checkbox .checkbox__text::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #c3c2c2;
  background: #fff;
}

.checkbox .checkbox__text::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: #4A34AE;
  border-radius: 2px;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.checkbox .checkbox__text a {
  color: #4A34AE;
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:after,
.checkbox input[type="radio"]:checked + .checkbox__text:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:before,
.checkbox input[type="radio"]:checked + .checkbox__text:before {
  background-color: #fff;
}

.und {
  text-decoration: underline;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left !important;
}

.m {
  font-family: "Ubuntu-Medium";
}

.b {
  font-family: "Ubuntu-Bold";
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.shd {
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.shd:hover {
  -webkit-box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.25);
}

.btn {
  outline: none;
  font-size: 14px;
  font-family: "Ubuntu-Bold";
  text-align: center;
  padding: 15px 30px;
  color: #151515;
  background-color: #FACC00;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  -webkit-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease;
}

.btn:hover {
  color: #fff;
  background-color: #4A34AE;
}

.btn_transp {
  background: transparent;
  border: 1px solid #4A34AE;
}

.btn_transp:hover {
  background: #0057ff;
  border-color: #0057ff;
}

.list_circle {
  list-style-type: none;
  padding-left: 0;
}

.list_circle li {
  padding-left: 25px;
  position: relative;
}

.list_circle li {
  margin-bottom: 10px;
}

.list_circle li::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 1.5px solid #000;
  left: 0;
  top: 8px;
  border-radius: 50%;
}

.list_gal {
  list-style-type: none;
  padding-left: 0;
}

.list_gal li {
  font-size: 16px;
  padding-left: 35px;
  position: relative;
}

.list_gal li {
  margin-bottom: 10px;
}

.list_gal li::before {
  content: '';
  position: absolute;
  width: 26px;
  height: 18px;
  background: url("../img/icon__gal.png") no-repeat 50% 50%/contain;
  left: 0;
  top: 2px;
}

.popup__container {
  padding: 40px;
  background-color: transparent;
}

.popup__container .fancybox-close-small {
  top: 5px;
  right: 5px;
  color: #151515;
}

.popup__container .popup__wrp {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.popup__container .popup__wrp::before {
  z-index: 1;
  content: '';
  position: absolute;
  height: 110%;
  width: 110%;
  top: -5%;
  right: -5%;
  bottom: -5%;
  left: -5%;
  z-index: 1;
  background-color: #4A34AE;
  opacity: .7;
}

.popup__container .popup_call__wrp {
  max-width: 320px;
}

.popup__container .popup_call__wrp .popup {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  color: #151515;
  padding: 20px 25px 30px;
  text-align: center;
}

.popup__container .popup_call__wrp .popup__ttl {
  font-family: "Ubuntu-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 30px;
}

.popup__container .popup_call__wrp .popup .form__input {
  color: #151515;
  margin-bottom: 15px;
}

.popup__container .popup_call__wrp .popup input.form__input::-webkit-input-placeholder {
  color: #151515;
}

.popup__container .popup_call__wrp .popup input.form__input::-moz-placeholder {
  color: #151515;
}

.popup__container .popup_call__wrp .popup input.form__input:-ms-input-placeholder {
  color: #151515;
}

.popup__container .popup_call__wrp .popup input.form__input::-ms-input-placeholder {
  color: #151515;
}

.popup__container .popup_call__wrp .popup input.form__input::placeholder {
  color: #151515;
}

.popup__container .popup_call__wrp .popup .btn {
  width: 100%;
  margin-bottom: 15px;
}

.popup__container .popup_call__wrp .popup__policy {
  margin-top: 15px;
  max-width: 230px;
  text-align: center;
  font-size: 12px;
}

.popup__container .popup_call__wrp .popup__policy a {
  font-size: 12px;
  color: #4A34AE;
}

.owl-carousel .owl-item img {
  width: auto !important;
}

.owl-carousel .owl-dots {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}

.owl-carousel .owl-dots button.owl-dot {
  width: 17px;
  height: 17px;
  border: 2px solid #C9C2DF;
  border-radius: 50%;
  background-color: #C9C2DF;
  position: relative;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.owl-carousel .owl-dots button.owl-dot:not(:last-child) {
  margin-right: 13px;
}

.owl-carousel .owl-dots button.owl-dot.active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  background-color: transparent;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  bottom: 50%;
  margin-bottom: -25.5px;
  padding: 0px !important;
  border: none;
  background-color: transparent;
  -webkit-transform: scale(0.73);
      -ms-transform: scale(0.73);
          transform: scale(0.73);
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  -webkit-transform: scale(0.65);
      -ms-transform: scale(0.65);
          transform: scale(0.65);
}

.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled,
.owl-carousel .owl-nav button.owl-prev.disabled:hover,
.owl-carousel .owl-nav button.owl-next.disabled:hover {
  opacity: 0;
  cursor: default;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -30px;
}

.owl-carousel .owl-nav button.owl-next {
  right: -30px;
}

.crumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding: 10px 0;
  font-size: 14px;
}

.crumbs li,
.crumbs a {
  position: relative;
  color: #000;
}

.crumbs li:not(:last-child) {
  margin-right: 20px;
  position: relative;
}

.crumbs li:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 7px;
  right: -15px;
  top: 6px;
  background: url(../img/icon__crumbs-arr.png) no-repeat 50% 50%/contain;
}

.crumbs li:not(:last-child) a:hover {
  opacity: .7;
}

.crumbs li:last-child {
  color: #26166F;
}

.section_inner {
  padding: 60px 0;
}

.section__ttl {
  font-size: 36px;
  font-family: "Ubuntu-Bold";
  letter-spacing: .8px;
  margin-bottom: 35px;
  text-align: center;
}

.section__subttl {
  text-align: center;
  font-family: "Ubuntu-Medium";
  font-size: 20px;
  margin-top: -25px;
  margin-bottom: 35px;
}

.header {
  font-size: 14px;
  background: url("../img/header__bg.jpg") no-repeat 50% 50%/cover;
  overflow: hidden;
}

.header__top {
  position: relative;
}

.header__top::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1C1248;
  left: 0;
  top: 0;
  opacity: .7;
}

.header__top .container {
  position: relative;
}

.header__top a:not(.btn) {
  color: #fff;
}

.header__top a:not(.btn):hover {
  color: #C9C2DF;
}

.header__top .btn {
  padding-top: 18px;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  margin-top: -12px;
  padding-top: 25px;
}

.header__tel {
  color: #fff;
}

.header__tel:nth-child(1) {
  position: relative;
}

.header__tel:nth-child(1)::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #fff;
  right: -15px;
  top: 0;
}

.header__bot {
  padding: 30px 0;
}

.header__logo:hover img {
  -webkit-transform: scale(0.93);
      -ms-transform: scale(0.93);
          transform: scale(0.93);
}

.header__hamb {
  display: none;
  position: absolute;
  top: 25px;
  right: 23px;
  width: 32px;
  height: 2px;
  background-color: #FACC00;
  opacity: 1;
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__hamb::before, .header__hamb::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: #FACC00;
  left: 0;
}

.header__hamb::before {
  top: -14px;
}

.header__hamb::after {
  bottom: -14px;
}

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-logo {
  display: none;
}

.header__nav-link {
  color: #fff;
  padding: 12px 10px;
  -webkit-box-shadow: inset 0px 0px 0px 1px #fff;
          box-shadow: inset 0px 0px 0px 1px #fff;
  border-radius: 3px;
  display: block;
  position: relative;
}

.header__nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  bottom: -95%;
  left: 0;
  background-color: #FACC00;
  border-left: 1px solid #FACC00;
  border-right: 1px solid #FACC00;
  -webkit-transform: translateY(25px);
      -ms-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
}

.header__nav-link-wrp {
  position: relative;
}

.header__nav-link-wrp.hover .header__nav-link {
  background-color: #FACC00;
  -webkit-box-shadow: inset 0px 0px 0px 1px #FACC00;
          box-shadow: inset 0px 0px 0px 1px #FACC00;
  color: #151515;
}

.header__nav-link-wrp_sub.hover .header__nav-link::after {
  height: 100%;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.header__nav-sub {
  z-index: 2;
  position: absolute;
  top: 53px;
  width: 385px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.header__nav-sub-link {
  padding: 8px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-sub-link-wrp {
  position: relative;
}

.header__nav-sub-link-wrp:hover .header__nav-sub-link {
  background-color: #C4C4C4;
}

.header__nav-sub_2 {
  position: absolute;
  left: 100%;
  top: 0;
  width: 330px;
  -webkit-box-shadow: inset 0px 0px 0px 1px #fff;
          box-shadow: inset 0px 0px 0px 1px #fff;
  background-color: #C4C4C4;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.header__nav-sub_2-link {
  color: #000;
  padding: 8px 10px;
  display: block;
}

.header__nav-sub_2-link:hover {
  background-color: #fff;
}

.header__search {
  position: relative;
  width: 100%;
}

.header__search-input {
  width: 100%;
  padding-left: 20px;
}

.header__search-btn {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 10px;
  right: 10px;
  background: url("../img/icon__loupe.png") no-repeat 50% 50%/contain;
  padding: 0;
  -webkit-transform: scale(0.96);
      -ms-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.header__search-btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.header__banner {
  color: #fff;
  overflow: hidden;
}

.header__banner-item {
  padding: 40px 0;
  min-height: 550px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.header__banner .owl-item.active .header__banner-item {
  opacity: 1;
}

.header__banner .section__ttl {
  margin-bottom: 55px;
}

.header__banner .section__subttl {
  font-size: 28px;
  margin-bottom: 25px;
  text-align: left;
}

.header__banner .section .btn {
  margin-bottom: 35px;
}

.header__banner-img img {
  max-width: 780px;
  width: auto !important;
}

.header__banner .owl-dots {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  bottom: 30px;
  width: 1140px;
  left: 50%;
  margin-left: -webkit-calc(-1110px/2);
  margin-left: calc(-1110px/2);
}

.sol {
  background: url("../img/sol__bg.jpg") no-repeat 50% 50%/cover;
  position: relative;
}

.sol::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #DFDEE3;
  opacity: .8;
}

.sol .container {
  position: relative;
}

.sol__item {
  max-width: 220px;
  width: 100%;
  margin: 0px 15px 30px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.sol__item-top {
  width: 130px;
  height: 130px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.sol__item-img {
  width: 70px;
  height: 70px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.sol__item-ttl {
  font-size: 16px;
}

.sol__item:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}

.sol__item:hover .sol__item-top {
  background-color: #FACC00;
}

.sol-page__right {
  width: 100%;
  min-height: 243px;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.sol-page__right-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.sol-page__right-img.active {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.sol-page__list-item {
  padding: 10px 15px 10px 35px;
  position: relative;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  display: block;
}

.sol-page__list-item span {
  color: #000;
}

.sol-page__list-item:not(:last-child) {
  margin-bottom: 7px;
}

.sol-page__list-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 120%;
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
  height: 100%;
  background-color: #26166F;
  border-radius: 3px;
  -webkit-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease;
}

.sol-page__list-item::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid #000;
  border-radius: 50%;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  left: 10px;
  top: 50%;
  margin-top: -7px;
}

.sol-page__list-item span {
  position: relative;
}

.sol-page__list-item:hover span {
  color: #fff;
}

.sol-page__list-item:hover::after {
  background-color: #fff;
  border-color: #fff;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.sol-page__list-item:hover::before {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.out {
  color: #fff;
  background: url("../img/out__bg.jpg") no-repeat 50% 50%/cover;
  position: relative;
}

.out::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #26166F;
  opacity: .8;
}

.out .container {
  position: relative;
}

.out .tabs__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.out .tabs__list li {
  font-size: 16px;
  font-family: "Ubuntu-Medium";
  text-align: center;
  width: 32.33%;
  padding: 15px;
  background-color: #7C72AA;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.out .tabs__list li:hover:not(.active) {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

.out .tabs__list li.active {
  background-color: #fff;
  color: #151515;
}

.out .tabs__container {
  padding: 45px 40px;
  color: #26166F;
  background-color: #fff;
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.25);
}

.out .tabs__content-item {
  font-size: 18px;
  min-height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.out .tabs__content-item span {
  max-width: 650px;
}

.out__img {
  position: absolute;
  right: 30px;
  bottom: -50px;
}

main {
  background: #fdfdfe url("../img/main__bg.png") no-repeat 50% 100%;
}

.about {
  background: url("../img/about__bg.jpg") no-repeat 50% 50%/cover;
  position: relative;
}

.about::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #DFDEE3;
  opacity: .8;
}

.about .container {
  position: relative;
}

.about__item {
  font-size: 16px;
  padding: 30px 25px;
  background: #FFFFFF;
  border-radius: 5px;
}

.about__item-ttl {
  font-size: 20px;
  font-family: "Ubuntu-Bold";
  margin-bottom: 15px;
}

.about-begin__item {
  max-width: 190px;
  width: 100%;
  margin: 0px 15px 30px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-begin__item-top {
  width: 100%;
  height: 130px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-begin__item-img {
  width: 70px;
  height: 70px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-begin__item-ttl {
  font-size: 18px;
  font-family: "Ubuntu-Bold";
  margin-bottom: 10px;
}

.about-begin__item:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}

.about-begin__item:hover .about-begin__item-top {
  background-color: #FACC00;
}

.about-begin .list_gal {
  font-size: 18px;
}

.about-part {
  color: #fff;
  background: url("../img/clients__bg.jpg") no-repeat 50% 50%/cover;
  position: relative;
}

.about-part::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background: -o-linear-gradient(343.91deg, #36275c 0.94%, #8777ce91 100%);
  background: linear-gradient(106.09deg, #36275c 0.94%, #8777ce91 100%);
}

.about-part .container {
  position: relative;
}

.about-part .btn {
  margin-left: -4px;
}

.about-part__policy {
  font-size: 16px;
}

.about-part__policy a {
  color: #FACC00;
  text-decoration: underline;
}

.about-part__policy a:hover {
  opacity: .7;
  text-decoration: none;
}

.about-princ {
  font-size: 16px;
  background: url("../img/about__bg.jpg") no-repeat 50% 50%/cover;
  position: relative;
}

.about-princ::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #DFDEE3;
  opacity: .8;
}

.about-princ .container {
  position: relative;
}

.about-dir {
  background: url("../img/about__dir-bg.jpg") no-repeat 50% 50%/cover;
}

.about-dir .about__item {
  height: 100%;
}

.team {
  background-color: #C9C2DF;
}

.team__item {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.team__item-img {
  width: 100%;
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.team__item-info {
  padding: 15px 20px;
}

.team__item-ttl {
  font-family: "Ubuntu-Bold";
  color: #26166F;
  font-size: 18px;
  margin-bottom: 15px;
}

.team__item-pos {
  font-size: 16px;
}

.clients {
  color: #fff;
  background: url("../img/clients__bg.jpg") no-repeat 50% 0%/cover;
  position: relative;
}

.clients::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background: -o-linear-gradient(343.91deg, #36275c 0.94%, #8777ce91 100%);
  background: linear-gradient(106.09deg, #36275c 0.94%, #8777ce91 100%);
}

.clients .container {
  position: relative;
}

.clients__in .owl-nav button.owl-prev, .clients__in .owl-nav button.owl-next {
  bottom: 62%;
}

.clients .clients__item {
  margin-bottom: 30px;
}

.clients__item {
  background-color: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
}

.clients__item-img {
  width: 150px;
  height: 80px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.clients__list .clients__item {
  width: 270px;
  height: 270px;
  position: relative;
  overflow: hidden;
}

.clients__list .clients__item .b {
  font-size: 18px;
}

.clients__list .clients__item-descr {
  font-size: 14px;
}

.clients__list .clients__item-in {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease;
}

.clients__list .clients__item-in a {
  color: #26166F;
}

.clients__list .clients__item-in a:hover {
  -webkit-transform: translateX(4px);
      -ms-transform: translateX(4px);
          transform: translateX(4px);
}

.clients__list .clients__item:hover .clients__item-in {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.part .section__ttl {
  font-size: 24px;
  margin-bottom: 20px;
}

.prj {
  background-color: #FEF4D3;
}

.prj__left {
  position: relative;
  min-height: 410px;
}

.prj__left-item {
  border: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 590px;
  min-height: 410px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: .8s all ease;
  -o-transition: .8s all ease;
  transition: .8s all ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: scale(0.85);
      -ms-transform: scale(0.85);
          transform: scale(0.85);
}

.prj__left-item.active {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.prj__left-item.active .prj__left-in {
  opacity: 1;
}

.prj__left-decor {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.prj__left-decor-item {
  position: absolute;
}

.prj__left-decor-item:nth-child(1), .prj__left-decor-item:nth-child(2) {
  width: 60%;
  height: 1px;
  background-color: #FEF4D3;
  left: 50%;
  margin-left: -30%;
}

.prj__left-decor-item:nth-child(1) {
  top: -1px;
}

.prj__left-decor-item:nth-child(2) {
  bottom: -1px;
}

.prj__left-decor-item:nth-child(3), .prj__left-decor-item:nth-child(4) {
  width: 1px;
  height: 60%;
  background-color: #FEF4D3;
  top: 50%;
  margin-top: -20%;
}

.prj__left-decor-item:nth-child(3) {
  left: -1px;
}

.prj__left-decor-item:nth-child(4) {
  right: -1px;
}

.prj__left-in {
  line-height: 1.4;
  padding: 30px;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
}

.prj__right {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.prj__right-col {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prj__right .owl-stage {
  height: 100%;
}

.prj__right .owl-stage-outer {
  height: 100%;
}

.prj__right .owl-item {
  height: 100%;
}

.prj__right .owl-item:nth-child(1) .prj__right-item:nth-child(1) {
  background-color: #7C72AA;
}

.prj__right .owl-item:nth-child(1) .prj__right-item:nth-child(2) {
  background-color: #FA712D;
}

.prj__right .owl-item:nth-child(2) .prj__right-item:nth-child(1) {
  background-color: #FDEBBA;
}

.prj__right .owl-item:nth-child(2) .prj__right-item:nth-child(2) {
  background-color: #fff;
}

.prj__right .owl-item:nth-child(3) .prj__right-item:nth-child(1) {
  background-color: #C9C2DF;
}

.prj__right .owl-item:nth-child(3) .prj__right-item:nth-child(2) {
  background-color: #FADB89;
}

.prj__right .owl-item:nth-child(4) .prj__right-item:nth-child(1) {
  background-color: #FACC00;
}

.prj__right .owl-item:nth-child(4) .prj__right-item:nth-child(2) {
  background-color: #4A34AE;
}

.prj__right .owl-nav button.owl-next {
  right: 10px;
}

.prj__right .owl-nav button.owl-prev {
  left: 10px;
}

.prj__right-item {
  font-size: 16px;
  width: 100%;
  max-width: 195px;
  max-height: 215px;
  height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #fff;
}

.prj__right-item-ttl {
  font-family: "Ubuntu-Bold";
  font-size: 24px;
}

.prj__right-item:hover {
  -webkit-transform: scale(0.94);
      -ms-transform: scale(0.94);
          transform: scale(0.94);
}

.news__item {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.news__item-ttl {
  font-family: "Ubuntu-Bold";
  font-size: 28px;
}

.news__item-descr {
  color: #969696;
}

.news__list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.news__list-item-img {
  width: 100%;
  height: 320px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.news__list-item-bot {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.news__list-item-date {
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.news__list-item-ttl {
  font-size: 20px;
}

.news-page__in {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.news-page__in::after {
  content: '';
  clear: both;
}

.news-page__img {
  width: 100%;
  max-width: 440px;
  height: 303px;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.news-page__more-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.news-page__more-item-img {
  width: 100%;
  min-width: 220px;
  height: 100%;
  min-height: 270px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.news-page__more-item-bot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.news-page__more-item-date {
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.news-page__more-item-ttl {
  font-size: 20px;
}

.map {
  position: relative;
}

.map .container {
  position: relative;
}

.map__in {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.map__form {
  width: 370px;
  left: 0%;
  top: 20px;
  padding: 30px;
  background-color: #fff;
}

.map__form-ttl {
  font-family: "Ubuntu-Bold";
  font-size: 28px;
  margin-bottom: 15px;
}

.map__form-input {
  width: 100%;
}

.footer {
  font-size: 14px;
  background-color: #000;
  padding: 40px 0;
  color: #fff;
}

.footer a:not(.btn) {
  color: #fff;
}

.footer a:not(.btn):hover {
  color: #FACC00;
}

.footer .btn {
  padding-left: 15px;
  padding-right: 15px;
}

.footer__ttl {
  font-family: "Ubuntu-Bold";
  font-size: 20px;
  margin-bottom: 20px;
}

.footer__soc-item:hover img {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.footer__tel {
  color: #fff;
}

.footer__tel:nth-child(1) {
  position: relative;
}

.footer__tel:nth-child(1)::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #fff;
  right: -15px;
  top: 0;
}

.footer__logo {
  position: relative;
}

.footer__logo::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #fff;
  right: -15px;
  top: 0;
}

.footer__logo:hover img {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.contacts-feed {
  overflow: hidden;
}

.contacts-feed__left {
  font-size: 18px;
  padding-left: 30px;
  padding-right: 10px;
  color: #fff;
  position: relative;
  height: 100%;
}

.contacts-feed__left a {
  color: #fff;
}

.contacts-feed__left a:hover {
  color: #FACC00;
}

.contacts-feed__left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #26166F;
  opacity: .8;
  z-index: 1;
}

.contacts-feed__left::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 200%;
  height: 100%;
  background: url("../img/contacts-feed__left-bg.jpg") no-repeat 50% 50%/cover;
}

.contacts-feed__left > * {
  position: relative;
  z-index: 1;
}

.contacts-feed__right {
  position: relative;
  font-size: 18px;
  padding-left: 40px;
}

.contacts-feed__right::before {
  content: '';
  position: absolute;
  width: 200%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #F9F9F9;
}

.contacts-feed__right > * {
  position: relative;
}

.contacts-feed__input {
  width: 100%;
  max-width: 470px;
}

.contacts-req {
  overflow: hidden;
}

.contacts-req__left {
  font-size: 18px;
  padding-left: 30px;
  padding-right: 10px;
  position: relative;
  height: 100%;
}

.contacts-req__left::before {
  content: '';
  position: absolute;
  width: 200%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #F9F9F9;
}

.contacts-req__left > * {
  position: relative;
}

.contacts-req__right {
  position: relative;
  font-size: 18px;
  padding-left: 40px;
}

.contacts-req__right::before {
  content: '';
  position: absolute;
  width: 200%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #F9F9F9;
}

.contacts-req__right > * {
  position: relative;
}

.contacts-req__right {
  position: relative;
  height: 100%;
}

.contacts-req__right::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 200%;
  height: 100%;
  background: url("../img/contacts-feed__left-bg.jpg") no-repeat 50% 50%/cover;
}

.job__item {
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  min-height: 240px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.job__item::before {
  content: '';
  position: absolute;
  width: 174px;
  height: 200px;
  top: 50%;
  margin-top: -100px;
  right: 30px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.job__item > * {
  position: relative;
}

.job__item-ttl {
  font-size: 28px;
  font-family: "Ubuntu-Bold";
  max-width: 300px;
}

.job__item-flag {
  color: #fff;
  font-family: "Ubuntu-Bold";
  position: relative;
  padding: 15px 30px 15px 0;
}

.job__item-flag::before {
  content: '';
  position: absolute;
  left: -40px;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
}

.job__item-flag span {
  position: relative;
}

.job__item_hot::before {
  background-image: url("../img/job__img_1.png");
}

.job__item_hot .job__item-flag::before {
  background-color: #FA712D;
}

.job__item_fix::before {
  background-image: url("../img/job__img_2.png");
}

.job__item_fix .job__item-flag::before {
  background-color: #26166F;
}

.job__info {
  background-color: #fff;
  border-radius: 4px;
  padding: 40px;
}

.job__info .section__ttl {
  font-size: 26px;
  font-family: "Ubuntu";
}

.job__info .section__subttl {
  font-size: 26px;
  font-family: "Ubuntu-Bold";
  text-align: left;
}

.job__info-item {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  background: url("../img/job__info-bg.jpg") no-repeat 50% 50%/cover;
}

.job-offer {
  background-color: #FEF4D3;
}

.job-offer__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 15px;
  min-height: 205px;
  height: 100%;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

.job-offer__item > * {
  position: relative;
  z-index: 1;
}

.job-offer__item-bg {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  border-radius: 3px;
  -webkit-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease;
}

.job-offer__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  border-radius: 3px;
  background-color: #26166F;
  z-index: 2;
  -webkit-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease;
}

.job-offer__item-ttl {
  font-size: 18px;
  text-align: center;
  position: relative;
  z-index: 3;
}

.job-offer__item-img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.job-offer__item-img_2 {
  opacity: 0;
}

.job-offer__item-img-wrp {
  width: 100%;
  height: 75px;
  margin-bottom: 10px;
  position: relative;
  z-index: 3;
}

.job-offer__item:hover .job-offer__item-ttl {
  color: #fff;
}

.job-offer__item:hover .job-offer__item-img_1 {
  opacity: 0;
}

.job-offer__item:hover .job-offer__item-img_2 {
  opacity: 1;
}

.job-offer__item:hover .job-offer__item-bg {
  opacity: 1;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.job-offer__item:hover::before {
  opacity: .9;
}

.job-page {
  font-size: 18px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 30px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.job-page::before {
  content: '';
  position: absolute;
  width: 174px;
  height: 200px;
  top: 40px;
  right: 30px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.job-page::before {
  background-image: url("../img/job__img_1.png");
}

.job-page::before {
  background-image: url("../img/job__img_2.png");
}

.job-page > * {
  position: relative;
}

.job-page__flag {
  color: #fff;
  font-family: "Ubuntu-Bold";
  position: relative;
  padding: 15px 30px 15px 0;
  margin-bottom: 15px;
}

.job-page__flag::before {
  content: '';
  position: absolute;
  left: -40px;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
}

.job-page__flag_hot::before {
  background-color: #FA712D;
}

.job-page__flag_fix::before {
  background-color: #26166F;
}

.job-page__flag span {
  position: relative;
}
