@import "../fonts/fonts.css"

$yel: #FACC00
$purp: #4A34AE
$dpurp: #1C1248
$dark: #151515
$lblue: #C9C2DF
$blue: #26166F
$gray: #DFDEE3
$tr: transparent

$ulig: 'Ubuntu-Light'
$ureg: 'Ubuntu'
$umed: 'Ubuntu-Medium'
$ubold: 'Ubuntu-Bold'

body
	scroll-behavior: smooth
	background-color: #fff
	font-family: $ureg
	color: $dark
	font-size: 16px
	line-height: 1.3
	position: relative
	-webkit-font-smoothing: antialiased
*,
*:after,
*:before
	transition: .3s all ease
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection
	color            : #fff
	background-color : $purp
::selection
	color            : #fff
	background-color : $purp
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active
	text-decoration: none
	outline: none
	transition: all 0.4s ease
	cursor: pointer
a
	color: $dark
	&:hover
		color: $purp
button
	border: $tr
	background: none
option
	color: $dark
textarea
	resize: none
input,
textarea,
select
	color: $dark
	font-family: $ureg
	font-size: 14px
	padding: 12px 30px
	background: #fff
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5)
	border: 1px solid $lblue
	border-radius: 3px
input.btn
	box-shadow: none
	border: none
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
textarea::placeholder
	color: $dark
input:focus,
textarea:focus,
input:active,
textarea:active
	color: $dark
	box-shadow: inset 0px 1px 3px 1px $purp
	outline: none
.select__wrp
	border: 1px solid #BDBDBD
	border-radius: 3px
	position: relative
	min-width: 270px
	background-color: #fff
	&::before
		content: ''
		position: absolute
		width: 10px
		height: 6px
		background: url('../img/icon__arr-bot.png') no-repeat 50% 50% / contain
		top: 50%
		margin-top: -4px
		right: 10px
	select
		width: 100%
		background-color: $tr
		padding: 8px 40px 8px 12px
		position: relative
		appearance: none
		option
			width: 100%
.tabs
	&__list
		list-style-type: none
		margin: 0
		padding: 0
		li
			cursor: pointer
	&__content-item
		transition: unset
.checkbox
	min-width: 200px
	cursor: pointer
	position: relative
	margin-bottom: 0
	input[type="checkbox"],
	input[type="radio"]
		position: absolute
		z-index: 1
		opacity: 0
		width: 100%
		height: 20px
		cursor: pointer
	.checkbox__text
		font-size: 14px
		position: relative
		padding-left: 30px
		cursor: pointer
		width: 100%
		height: 30px
		display: block
		&::before
			content: ''
			position: absolute
			top: -1px
			left: -2px
			width: 20px
			height: 20px
			border-radius: 2px
			border: 1px solid #c3c2c2
			background: #fff
		&::after
			content: ''
			position: absolute
			top: 50%
			margin-top: -12px
			left: 2px
			width: 12px
			height: 12px
			background-color: $purp
			border-radius: 2px
			opacity: 0
			transform: scale(0)
			transition: 0.2s
		a
			color: $purp
			text-decoration: underline
			position: relative
			z-index: 2
	input[type="checkbox"]:checked + .checkbox__text:after,
	input[type="radio"]:checked + .checkbox__text:after
		opacity: 1
		transform: scale(1)
	input[type="checkbox"]:checked + .checkbox__text:before,
	input[type="radio"]:checked + .checkbox__text:before
		background-color: #fff
.w100
	width: 100%
.und
	text-decoration: underline
.tac
	text-align: center
.tal
	text-align: left !important
.m
	font-family: $umed
.b
	font-family: $ubold
.img-fluid
	max-width: 100%
	height: auto
.shd
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25)
	&:hover
		box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.25)
.btn
	outline: none
	font-size: 14px
	font-family: $ubold
	text-align: center
	padding: 15px 30px
	color: $dark
	background-color: $yel
	position: relative
	display: inline-block
	border-radius: 3px
	transition: .5s all ease
	&:hover
		color: #fff
		background-color: $purp
	&_transp
		background: $tr
		border: 1px solid $purp
		&:hover
			background: rgb(0,87,255)
			border-color: rgb(0,87,255)
.list
	&_circle
		list-style-type: none
		padding-left: 0
		li
			padding-left: 25px
			position: relative
			&
				margin-bottom: 10px
			&::before
				content: ''
				position: absolute
				width: 8px
				height: 8px
				background-color: $tr
				border: 1.5px solid #000
				left: 0
				top: 8px
				border-radius: 50%
	&_gal
		list-style-type: none
		padding-left: 0
		li
			font-size: 16px
			padding-left: 35px
			position: relative
			&
				margin-bottom: 10px
			&::before
				content: ''
				position: absolute
				width: 26px
				height: 18px
				background: url('../img/icon__gal.png') no-repeat 50% 50% / contain
				left: 0
				top: 2px
	&_string
		list-style-type: none
		padding-left: 0
		li
			padding-left: 25px
			position: relative
			&
				margin-bottom: 10px
			&::before
				content: ''
				position: absolute
				width: 12px
				height: 1px
				background-color: #fff
				left: 0
				top: 9px
.popup__container
	padding: 40px
	background-color: $tr
	.fancybox-close-small
		top: 30px
		right: 30px
		color: $dark
	.popup__wrp
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-flex-wrap: wrap
		-moz-flex-wrap: wrap
		-ms-flex-wrap: wrap
		-o-flex-wrap: wrap
		flex-wrap: wrap
		-ms-align-items: center
		align-items: center
		justify-content: center
		position: relative
		&::before
			z-index: 1
			content: ''
			position: absolute
			height: 110%
			width: 110%
			top: -5%
			right: -5%
			bottom: -5%
			left: -5%
			z-index: 1
			background-color: $purp
			opacity: .7
	.popup_call__wrp
		max-width: 320px
		.popup
			width: 100%
			height: 100%
			position: relative
			z-index: 2
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			-webkit-flex-direction: column
			-moz-flex-direction: column
			-ms-flex-direction: column
			-o-flex-direction: column
			flex-direction: column
			-ms-align-items: center
			align-items: center
			justify-content: flex-start
			background-color: #fff
			color: $dark
			padding: 20px 25px 30px
			text-align: center
			&__ttl
				font-family: $ubold, sans-serif
				text-transform: uppercase
				font-size: 22px
				margin-bottom: 30px
			.form__input
				color: $dark
				margin-bottom: 15px
			input.form__input::placeholder
				color: $dark
			.btn
				width: 100%
				margin-bottom: 15px
			&__policy
				margin-top: 15px
				max-width: 230px
				text-align: center
				font-size: 12px
				a
					font-size: 12px 
					color: $purp
.owl-carousel
	.owl-item
		img
			width: auto !important
	.owl-dots
		position: absolute
		width: 100%
		display: flex
		justify-content: center
		bottom: 0
		button.owl-dot
			width: 17px
			height: 17px
			border: 2px solid $lblue
			border-radius: 50%
			background-color: $lblue
			position: relative
			transform: scale(.8)
			&:not(:last-child)
				margin-right: 13px
			&.active
				transform: scale(1)
				// border-color: $tr
				background-color: $tr
	.owl-nav
		button.owl-prev,
		button.owl-next
			position: absolute
			bottom: 50%
			margin-bottom: -25.5px
			padding: 0px !important
			border: none
			background-color: $tr
			transform: scale(.73)

		button.owl-prev:hover,
		button.owl-next:hover
			transform: scale(.65)
		button.owl-prev.disabled,
		button.owl-next.disabled,
		button.owl-prev.disabled:hover,
		button.owl-next.disabled:hover
			opacity: 0
			cursor: default
			
		button.owl-prev
			left: -30px
		button.owl-next
			right: -30px
.crumbs
	display: flex
	flex-wrap: wrap
	list-style-type: none
	padding-left: 0
	margin-left: 0
	margin-bottom: 0
	padding: 10px 0
	font-size: 14px
	li,
	a
		position: relative
		color: #000
	li:not(:last-child)
		margin-right: 20px
		position: relative
		&::after
			content: ''
			position: absolute
			width: 9px
			height: 7px
			right: -15px
			top: 6px
			background: url(../img/icon__crumbs-arr.png) no-repeat 50% 50%/contain
		a
			&:hover
				opacity: .7
	li:last-child
		color: $blue
.section
	&_inner
		padding: 60px 0
	&__ttl
		font-size: 36px
		font-family: $ubold
		letter-spacing: .8px
		margin-bottom: 35px
		text-align: center
	&__subttl
		text-align: center
		font-family: $umed
		font-size: 20px
		margin-top: -25px
		margin-bottom: 35px
.header
	font-size: 14px
	background: url('../img/header__bg.jpg') no-repeat 50% 50% / cover
	position: relative
	padding-top: 46px
	&__top
		position: fixed
		width: 100%
		z-index: 7
		top: 0
		// position: relative
		&::before
			content: ''
			position: absolute
			width: 100%
			height: 100%
			background-color: $dpurp
			left: 0
			top: 0
			opacity: .7
		.container
			position: relative
		a:not(.btn)
			color: #fff
			&:hover
				color: $lblue
		.btn
			padding-top: 18px
			transform: translateY(2px)
			margin-top: -12px
			padding-top: 25px
	&.sticky
		// .header__top
	&__tel
		color: #fff
		&:nth-child(1)
			position: relative
			&::before
				content: ''
				position: absolute
				width: 1px
				height: 100%
				background-color: #fff
				right: -15px
				top: 0
	&__bot
		padding: 30px 0
	&__logo
		&:hover
			img
				transform: scale(.93)
	&__hamb
		display: none
		position: absolute
		top: 25px
		right: 23px
		width: 32px
		height: 2px
		background-color: $yel
		opacity: 1
		z-index: 2
		transition: all 0.5s ease
		&::before,
		&::after
			content: ''
			position: absolute
			width: 32px
			height: 2px
			background-color: $yel
			left: 0
		&::before
			top: -14px
		&::after
			bottom: -14px
	&__nav
		display: flex
		&-logo
			display: none
		&-link
			color: #fff
			padding: 12px 10px
			box-shadow: inset 0px 0px 0px 1px #fff
			border-radius: 3px
			display: block
			position: relative
			&::after
				content: ''
				position: absolute
				width: 100%
				height: 0%
				bottom: -95%
				left: 0
				background-color: $yel
				border-left: 1px solid $yel
				border-right: 1px solid $yel
				transform: translateY(25px)
				opacity: 0
				transition: .05s all ease
			&-wrp
				position: relative
				&.hover
					.header__nav-link
						background-color: $yel
						box-shadow: inset 0px 0px 0px 1px $yel
						color: $dark
				&_sub.hover
					.header__nav-link
						&::after
							height: 100%
							transform: translateY(0px)
							opacity: 1
		&-sub
			z-index: 2
			position: absolute
			top: 53px
			width: 385px
			background-color: #fff
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
			border-radius: 3px
			transition: unset
			&-link
				padding: 8px 15px
				display: flex
				align-items: center
				&-wrp
					position: relative
					&:hover
						.header__nav-sub-link
							background-color: #C4C4C4
			&_2
				position: absolute
				left: 100%
				top: 0
				width: 330px
				box-shadow: inset 0px 0px 0px 1px #fff
				background-color: #C4C4C4
				transition: unset
				&-link
					color: #000
					padding: 8px 10px
					display: block
					&:hover
							background-color: #fff

	&__search
		position: relative
		width: 100%
		&-input
			width: 100%
			padding-left: 20px
		&-btn
			position: absolute
			width: 26px
			height: 26px
			top: 10px
			right: 10px
			background: url('../img/icon__loupe.png') no-repeat 50% 50% / contain
			padding: 0
			transform: scale(.96)
			box-shadow: none
			border: none
			&:hover
				transform: scale(1.05)
	&__banner
		color: #fff
		overflow: hidden
		&-item
			padding: 40px 0
			min-height: 550px
			display: flex
			align-items: center
			opacity: 0
		.owl-item.active
			.header__banner-item
				opacity: 1
		.section
			&__ttl
				margin-bottom: 55px
			&__subttl
				font-size: 28px
				margin-bottom: 25px
				text-align: left
			.btn
				margin-bottom: 35px
		&-img
			img
				max-width: 780px
				width: auto !important
		.owl-dots
			justify-content: flex-start
			bottom: 30px
			width: 1140px
			left: 50%
			margin-left: calc(-1110px/2)
		&_sol
			position: relative
			&::before
				content: ''
				position: absolute
				width: 100%
				height: 100px
				bottom: 0
				left: 0
				background-color: #fff
			.container
				position: relative
			.header__banner-item
				opacity: 1
.sidebar
	background-color: #fff
	border-radius: 4px
	padding-top: 20px
	padding-bottom: 20px
	position: sticky
	left: 0
	top: 60px
	&__ttl
		padding: 8px
		font-family: $ubold
		background-color: $yel
		position: relative
		&::after
			content: ''
			position: absolute
			width: 10px
			height: 10px
			right: 10px
			top: 50%
			transform: translate(0, -50%) rotate(90deg)
			background: url('../img/slider__arrow_next-black.png') no-repeat 50% 50% / contain
		&.active
			&::after
				transform: translate(0, -50%) rotate(-90deg)
	&__in
		display: flex
		flex-direction: column
	&__link
		font-size: 15px
		position: relative
		padding: 8px 20px 8px 7px
		&::after
			content: ''
			position: absolute
			width: 10px
			height: 10px
			right: 10px
			top: 50%
			transform: translate(0, -50%)
			background: url('../img/slider__arrow_next-black.png') no-repeat 50% 50% / contain
		&_here
			background-color: #C9C2DF
		&:hover
			&:not(.sidebar__link_here)
				background-color: #fcde5a
				&::after
					right: 8px
.sol
	background: url('../img/sol__bg.jpg') no-repeat 50% 50% / cover
	position: relative
	&::before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		right: 0
		top: 0
		background-color: $gray
		opacity: .8
	.container
		position: relative
	&__item
		max-width: 220px
		width: 100%
		margin: 0px 15px 30px
		text-align: center
		display: flex
		flex-direction: column
		// justify-content: center
		align-items: center
		&-top
			width: 130px
			height: 130px
			background-color: #fff
			// box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25)
			border-radius: 5px
			margin-bottom: 15px
			display: flex
			justify-content: center
			align-items: center
		&-img
			width: 70px
			height: 70px
			background-position: 50% 50%
			background-repeat: no-repeat
			background-size: contain
		&-ttl
			font-size: 16px
		&:hover
			transform: translateY(-3px)
			.sol__item-top
				background-color: $yel
	&-page
		&__right
			width: 100%
			min-height: 243px
			height: 100%
			border-radius: 3px
			overflow: hidden
			position: relative
			&-img
				position: absolute
				width: 100%
				height: 100%
				left: 0
				top: 0
				transform: translateX(-20px)
				opacity: 0
				background-position: 50% 50%
				background-repeat: no-repeat
				background-size: cover
				&.active
					opacity: 1
					transform: translateX(0)
		&__list
			&-item
				padding: 10px 15px 10px 35px
				position: relative
				background-color: #FFFFFF
				box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25)
				border-radius: 3px
				display: block
				span
					color: #000
				&:not(:last-child)
					margin-bottom: 7px
				&::before
					content: ''
					position: absolute
					left: 0
					top: 0
					width: 120%
					transform: translateX(-20px)
					opacity: 0
					height: 100%
					background-color: $blue
					border-radius: 3px
					transition: .5s all ease
				&::after
					content: ''
					position: absolute
					width: 14px
					height: 14px
					border: 2px solid #000
					border-radius: 50%
					transform: scale(.5)
					left: 10px
					top: 50%
					margin-top: -7px
				span
					position: relative
				&:hover
					span
						color: #fff
					&::after
						background-color: #fff
						border-color: #fff
						transform: scale(1)
					&::before
						transform: translateX(0)
						opacity: 1
	&-begin
		background-color: #EFEFF1
		position: relative
		&__item
			width: 100%
			max-width: 370px
			min-height: 435px
			height: 100%
			margin-left: auto
			margin-right: auto
			margin-bottom: 30px
			position: relative
			overflow: hidden
			border-radius: 5px
			background-repeat: no-repeat
			background-size: cover
			background-position: 50% 50%
			&::after
				content: ''
				position: absolute
				width: 100%
				height: 100%
				left: 0
				top: 0
				background-color: $dpurp
				opacity: 0
			&::before
				content: ''
				position: absolute
				width: 100%
				height: 100%
				left: 0
				top: 0
				background-color: #F3F3F3
				opacity: .7
			&-in
				height: 100%
				position: relative
				z-index: 1
				padding: 20px 15px
				transform: translateY(320px)
				transition: .6s all ease-in-out
			&-ttl
				font-family: $ubold
				font-size: 18px
				margin-bottom: 10px
			p,
			ul
				color: #fff
				font-size: 16px
				opacity: 0
			&:hover
				.sol-begin__item-in

					transform: translateY(0)
				p,
				ul
					opacity: 1
				.sol-begin__item-ttl
					color: #fff
				&::before
					opacity: 0
				&::after
					opacity: .8
	&-acc
		&__item
			margin-bottom: 15px
			background-color: #fff
			border-radius: 4px
			&-btn
				font-size: 20px
				position: relative
				padding: 15px 25px
				cursor: pointer
				&::before,
				&::after
					content: ''
					position: absolute
					width: 15px
					height: 2px
					background-color: #000
				&::before
					right: 20px
					top: 25px
				&::after
					right: 20px
					top: 25px
					transform: rotate(90deg)
				&.active
					&::after
						opacity: 0
			&-cnt
				color: #969696
				padding: 0px 25px 15px
				transition: unset
	&-offer
		background-color: #FEF4D3
		&__item
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			text-align: center
			padding: 30px 20px
			min-height: 205px
			height: 100%
			max-width: 370px
			margin-left: auto
			margin-right: auto
			border-radius: 3px
			overflow: hidden
			position: relative
			background-color: #fff
			&>*
				position: relative
				z-index: 1
			&::before
				content: ''
				position: absolute
				width: 100%
				height: 100%
				left: 0
				top: 0
				background-position: 50% 50%
				background-size: cover
				background-repeat: no-repeat
				opacity: 0
				border-radius: 3px
				background-color: $yel
				transition: .5s all ease
			&-ttl
				font-size: 18px
				font-family: $ubold
				position: relative
				margin-bottom: 20px
			&-img
				position: absolute
				left: 0
				top: 0
				height: 100%
				width: 100%
				background-position: 50% 50%
				background-size: contain
				background-repeat: no-repeat
				&_2
					opacity: 0
				&-wrp
					width: 100%
					height: 75px
					margin-bottom: 20px
					position: relative
			&:hover
				.sol-offer__item
					&-ttl
						// color: #fff
					&-img
						&_1
							opacity: 0
						&_2
							opacity: 1
				&::before
					opacity: .9
	&-work
		background-color: #E5E5E5
		&__item
			font-family: $ubold
			font-size: 16px
			width: 100%
			height: 100%
			max-width: 270px
			min-height: 270px
			margin-left: auto
			margin-right: auto
			border-radius: 4px
			background-color: #c9c2df66
			display: flex
			flex-direction: column
			// justify-content: center
			padding: 100px 25px 25px
			position: relative
			&-num
				font-size: 80px
				color: $blue
				position: absolute
				left: -20px
				top: 20px
				span
					position: relative
					display: block
					&::after
						content: ''
						position: absolute
						width: 140px
						height: 20px
						left: 100px
						top: 50%
						transform: translate(0, -50%)
						transition: .5s all ease-in-out
						background: url('../img/sol-work__arr.png') no-repeat 50% 50% / cover
			p
				margin-top: 30px
			&:hover
				.sol-work__item-num
					transform: translateX(10px)
					span
						&::after
							left: 110px
		&__list
			&>div
				&:last-child
					.sol-work__item-num
						span
							&::after
								background: url('../img/sol-work__arr_1.png') no-repeat 50% 50% / contain
.out
	color: #fff
	background: url('../img/out__bg.jpg') no-repeat 50% 50% / cover
	position: relative
	&::before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		right: 0
		top: 0
		background-color: $blue
		opacity: .8
	.container
		position: relative
	.tabs
		&__list
			display: flex
			justify-content: space-between
			li
				font-size: 16px
				font-family: $umed
				text-align: center
				width: 32.33%
				padding: 15px
				background-color: #7C72AA
				border-top-left-radius: 5px
				border-top-right-radius: 5px
				display: flex
				justify-content: center
				align-items: center
				&:hover:not(.active)
					transform: translateY(3px)
				&.active
					background-color: #fff
					color: $dark

		&__container
			padding: 45px 40px
			color: $blue
			background-color: #fff
			position: relative
			border-bottom-left-radius: 5px
			border-bottom-right-radius: 5px
			box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.25)
		&__content-item
			font-size: 18px
			min-height: 300px
			display: flex
			align-items: center
			span
				max-width: 650px
	&__img
		position: absolute
		right: 30px
		bottom: -50px
main
	background: #fdfdfe url('../img/main__bg.png') no-repeat 50% 100%
.about
	background: url('../img/about__bg.jpg') no-repeat 50% 50% / cover
	position: relative
	&::before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		right: 0
		top: 0
		background-color: $gray
		opacity: .8
	.container
		position: relative
	&__item
		font-size: 16px
		padding: 30px 25px
		background: #FFFFFF
		border-radius: 5px
		&-ttl
			font-size: 20px
			font-family: $ubold
			margin-bottom: 15px
	&-begin
		// background: url('../img/about__begin-bg.jpg') no-repeat 50% 50% / cover
		&__item
			max-width: 190px
			width: 100%
			margin: 0px 15px 30px
			text-align: center
			display: flex
			flex-direction: column
			align-items: center
			&-top
				width: 100%
				height: 130px
				background-color: #fff
				border-radius: 5px
				margin-bottom: 15px
				display: flex
				justify-content: center
				align-items: center
			&-img
				width: 70px
				height: 70px
				background-position: 50% 50%
				background-repeat: no-repeat
				background-size: contain
			&-ttl
				font-size: 18px
				font-family: $ubold
				margin-bottom: 10px
			&:hover
				transform: translateY(-3px)
				.about-begin__item-top
					background-color: $yel
		.list_gal
			font-size: 18px
	&-part
		color: #fff
		background: url('../img/clients__bg.jpg') no-repeat 50% 50% / cover
		position: relative
		&::before
			content: ''
			position: absolute
			width: 100%
			height: 100%
			right: 0
			top: 0
			background: linear-gradient(106.09deg, #36275c 0.94%, #8777ce91 100%)
			// opacity: .8
		.container
			position: relative
		.btn
			margin-left: -4px
		&__policy
			font-size: 16px
			a
				color: $yel
				text-decoration: underline
				&:hover
					opacity: .7
					text-decoration: none
	&-princ
		font-size: 16px
		background: url('../img/about__bg.jpg') no-repeat 50% 50% / cover
		position: relative
		&::before
			content: ''
			position: absolute
			width: 100%
			height: 100%
			right: 0
			top: 0
			background-color: $gray
			opacity: .8
		.container
			position: relative
	&-dir
		background: url('../img/about__dir-bg.jpg') no-repeat 50% 50% / cover
		.about__item
			height: 100%
.history
	background-color: #E5E5E5
	input[type=range]
		-webkit-appearance: none
		padding-left: 0
		padding-right: 0
		width: 100%
		box-shadow: none
		border: none
		background-color: $tr
		&::-webkit-slider-thumb
			height: 20px
			width: 20px
			border-radius: 100%
			background: #fff
			cursor: pointer
			-webkit-appearance: none
			margin-top: -9px
			border: 6px solid #7C72AA
			box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25)
		&::-moz-range-thumb
			box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d
			height: 20px
			width: 20px
			border-radius: 100%
			background: #fff
			cursor: pointer
			border: 6px solid #7C72AA
			box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25)
		&::-ms-thumb
			box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d
			height: 20px
			width: 20px
			border-radius: 100%
			background: #fff
			cursor: pointer
			border: 6px solid #7C72AA
			box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25)
		
		&::-moz-range-track
			width: 100%
			height: 2px
			cursor: pointer
			animate: 0.2s
			box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d
			background: #7C72AA
			border: none
		&::-webkit-slider-runnable-track
			width: 50%
			height: 2px
			cursor: pointer
			animate: 0.2s
			// box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d
			background: #7C72AA
			border: none

		&:focus::-webkit-slider-runnable-track
			background: #7C72AA
		&::-ms-track
			width: 100%
			height: 2px
			cursor: pointer
			animate: 0.2s
			background: transparent
			border-color: transparent
			border-width: 39px 0
			color: transparent

		&::-ms-fill-lower
			background: #ac51b5
			border: none
			box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d
		&:focus::-ms-fill-lower
			background: $yel

	&::-ms-fill-upper
		background: $yel
		border: none
		// border-radius: 50px
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d
	&:focus::-ms-fill-upper
		background: $yel

	&__slider
		&-bot
			margin-top: 40px
			padding-left: 40px
			padding-right: 40px
			.owl-nav
				button.owl
					&-prev
						left: 0
						bottom: 56%
					&-next
						right: 0
						bottom: 56%
		&-item
			font-size: 28px
			text-align: center
			width: 100%
			max-width: 170px
			height: 70px
			display: flex
			align-items: center
			justify-content: center
			margin-left: auto
			margin-right: auto
			margin-bottom: 30px
			margin-top: 10px
			position: relative
			background-color: #E5E5E5
			border-radius: 3px
			border: 1px solid #DCDCDC
			transition: .6s all ease
		&-info
			&-item
				transition: unset
	.center
		.history__slider-item
			background-color: #7C72AA
			border-color: #7C72AA
			font-family: $ubold
			transform: translateY(-7px)
			span
				color: #fff


.team
	background-color: $lblue
	&__item
		max-width: 370px
		margin-left: auto
		margin-right: auto
		background-color: #fff
		border-radius: 3px
		overflow: hidden
		&-img
			width: 100%
			height: 300px
			background-position: 50% 50%
			background-repeat: no-repeat
			background-size: cover
		&-info
			padding: 15px 20px
		&-ttl
			font-family: $ubold
			color: $blue
			font-size: 18px
			margin-bottom: 15px
		&-pos
			font-size: 16px
.clients
	color: #fff
	background: url('../img/clients__bg.jpg') no-repeat 50% 0% / cover
	position: relative
	&::before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		right: 0
		top: 0
		background: linear-gradient(106.09deg, #36275c 0.94%, #8777ce91 100%)
		// opacity: .8
	.container
		position: relative
	&__in
		.owl-nav button.owl
			&-prev,
			&-next
				bottom: 62%
	.clients__item
		margin-bottom: 30px
	&__item
		background-color: #fff
		border-radius: 5px
		display: flex
		justify-content: center
		align-items: center
		width: 170px
		height: 170px
		margin-left: auto
		margin-right: auto
		&-img
			width: 150px
			height: 80px
			background-position: 50% 50%
			background-repeat: no-repeat
			background-size: contain
	&__list
		.clients__item
			width: 270px
			height: 270px
			position: relative
			overflow: hidden
			.b
				font-size: 18px
			&-descr
				font-size: 14px
			&-in
				position: absolute
				width: 100%
				height: 100%
				left: 0
				top: 0
				padding: 15px
				display: flex
				flex-direction: column
				justify-content: space-between
				background-color: #fff
				opacity: 0
				transform: scale(.8)
				transition: .5s all ease
				a
					color: $blue
					&:hover
						transform: translateX(4px)
			&:hover
				.clients__item-in
					opacity: 1
					transform: scale(1)
.part
	.section__ttl
		font-size: 24px
		margin-bottom: 20px
.prj
	background-color: #FEF4D3
	&__left
		font-size: 14px
		position: relative
		min-height: 410px
		&-item
			border: 1px solid #000
			position: absolute
			left: 0
			top: 0
			max-width: 590px
			min-height: 410px
			margin-left: auto
			margin-right: auto
			transition: .8s all ease
			display: flex
			align-items: center
			opacity: 0
			transform: scale(.85)
			&.active
				opacity: 1
				transform: scale(1)
				.prj__left-in
					opacity: 1
		&-decor
			width: 100%
			height: 100%
			position: absolute
			left: 0
			top: 0
			&-item
				position: absolute
				&:nth-child(1),
				&:nth-child(2)
					width: 60%
					height: 1px
					background-color: #FEF4D3
					left: 50%
					margin-left: -30%
				&:nth-child(1)
					top: -1px
				&:nth-child(2)
					bottom: -1px
				&:nth-child(3),
				&:nth-child(4)
					width: 1px
					height: 60%
					background-color: #FEF4D3
					top: 50%
					margin-top: -20%
				&:nth-child(3)
					left: -1px
				&:nth-child(4)
					right: -1px
		&-in
			line-height: 1.4
			padding: 30px
			position: relative
			transition: .3s all ease
			opacity: 0
	&__right
		height: 100%
		display: flex
		&-col
			height: 100%
			display: flex
			flex-direction: column
		.owl
			&-stage
				height: 100%
				&-outer
					height: 100%
			&-item
				height: 100%
				&:nth-child(1)
					.prj__right-item
						&:nth-child(1)
							background-color: #7C72AA
						&:nth-child(2)
							background-color: #FA712D
				&:nth-child(2)
					.prj__right-item
						&:nth-child(1)
							background-color: #FDEBBA
						&:nth-child(2)
							background-color: #fff
				&:nth-child(3)
					.prj__right-item
						&:nth-child(1)
							background-color: $lblue
						&:nth-child(2)
							background-color: #FADB89
				&:nth-child(4)
					.prj__right-item
						&:nth-child(1)
							background-color: $yel
						&:nth-child(2)
							background-color: $purp
			&-nav
				button.owl
					&-next
						right: 10px
					&-prev
						left: 10px
		&-item
			font-size: 16px
			width: 100%
			max-width: 195px
			max-height: 215px
			height: 50%
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			text-align: center
			background-color: #fff
			&-ttl
				font-family: $ubold
				font-size: 24px
			&:hover
				transform: scale(.94)
	&-page
		background-color: #FEF4D3
		background-image: none
		&__in
			background-color: #fff
			border-radius: 4px
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25)
			padding: 30px
			position: relative
			overflow: hidden
			&::after
				content: ''
				clear: both
		&__ttl
			font-size: 20px
			margin-bottom: 15px
			margin-top: 20px
		&__info
			width: 100%
			max-width: 440px
			margin-left: auto
			margin-right: auto
			padding: 20px 15px
			background-color: #F0F0F0
			border-radius: 4px
			&-img
				width: 100%
				max-width: 270px
				height: 130px
				background-position: 50% 50%
				background-repeat: no-repeat
				background-size: contain
			&-date
				opacity: .7
			&-ttl
				font-size: 20px
				margin-bottom: 15px
		&__more
			&-item
				display: flex
				flex-direction: column
				max-width: 570px
				margin-left: auto
				margin-right: auto
				border-radius: 4px
				overflow: hidden
				background-color: #fff
				padding: 20px
				&-ttl
					font-size: 20px
				&-bot
					display: flex
					flex-direction: column
					justify-content: center
					align-items: flex-start
				&-link,
				&-top
					&:hover
						color: $blue
						transform: translateX(5px)
.news
	&__item
		max-width: 570px
		margin-left: auto
		margin-right: auto
		padding: 15px
		&-ttl
			font-family: $ubold
			font-size: 28px
		&-descr
			color: #969696
	&__list
		&-item
			display: flex
			flex-direction: column
			max-width: 370px
			margin-left: auto
			margin-right: auto
			border-radius: 4px
			overflow: hidden
			background-color: #fff
			&-img
				width: 100%
				height: 320px
				background-position: 50% 50%
				background-size: cover
				background-repeat: no-repeat
			&-bot
				padding-left: 20px
				padding-right: 20px
				padding-bottom: 30px
			&-date
				opacity: .7
			&-ttl
				font-size: 20px
	&-page
		&__in
			background-color: #fff
			border-radius: 4px
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25)
			padding: 30px
			position: relative
			overflow: hidden
			&::after
				content: ''
				clear: both
		&__img
			width: 100%
			max-width: 440px
			height: 303px
			float: left
			margin-right: 30px
			margin-bottom: 20px
			background-position: 50% 50%
			background-size: cover
			background-repeat: no-repeat
			border-radius: 4px
		&__more
			&-item
				display: flex
				max-width: 570px
				margin-left: auto
				margin-right: auto
				border-radius: 4px
				overflow: hidden
				background-color: #fff
				&-img
					width: 100%
					min-width: 220px
					height: 100%
					min-height: 270px
					background-position: 50% 50%
					background-size: cover
					background-repeat: no-repeat
				&-bot
					display: flex
					flex-direction: column
					justify-content: center
					align-items: flex-start
					padding-left: 20px
					padding-right: 20px
					padding-bottom: 30px
				&-date
					filter: grayscale(80%)
				&-ttl
					font-size: 20px

.map
	position: relative
	background-color: #F9F9F9
	.container
		position: relative
	.section__ttl
		text-align: left
		margin-bottom: 10px
		font-size: 26px
	&__tel
		font-size: 22px
		font-family: $ubold
		text-transform: uppercase
	&__ttl
		font-size: 18px
		font-family: $ubold
		text-transform: uppercase
		margin-bottom: 4px
	&__form
		display: flex
		flex-direction: column
		align-items: flex-start
		max-width: 460px
		&-input
			width: 100%
	&__in
		position: relative
		.tabs__list
			position: absolute
			left: 10px
			top: 40px
			display: flex
			z-index: 1
			li
				font-size: 12px
				text-align: center
				background-color: #fff
				padding: 15px 10px
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
				border-radius: 3px
				&:hover:not(.active)
					transform: translateY(5px)
				&.active
					color: #fff
					background-color: #7C72AA
				&:not(:last-child)
					margin-right: 10px
.footer
	font-size: 14px
	background-color: #000
	padding: 40px 0
	color: #fff
	a:not(.btn)
		color: #fff
		&:hover
			color: $yel
	.btn
		padding-left: 15px
		padding-right: 15px
	&__ttl
		font-family: $ubold
		font-size: 20px
		margin-bottom: 20px
	&__soc
		&-item
			&:hover
				img
					transform: scale(.9)
	&__tel
		color: #fff
		&:nth-child(1)
			position: relative
			&::before
				content: ''
				position: absolute
				width: 1px
				height: 100%
				background-color: #fff
				right: -15px
				top: 0
	&__logo
		position: relative
		&::before
			content: ''
			position: absolute
			width: 1px
			height: 100%
			background-color: #fff
			right: -15px
			top: 0
		&:hover
			img
				transform: scale(.9)
.contacts
	&-feed
		overflow: hidden
		&__left
			font-size: 18px
			padding-left: 30px
			padding-right: 10px
			color: #fff
			position: relative
			height: 100%
			a
				color: #fff
				&:hover
					color: $yel
			&::before
				content: ''
				position: absolute
				width: 100%
				height: 100%
				left: 0
				top: 0
				background-color: $blue
				opacity: .8
				z-index: 1
			&::after
				content: ''
				position: absolute
				right: 0
				top: 0
				width: 200%
				height: 100%
				background: url('../img/contacts-feed__left-bg.jpg') no-repeat 50% 50% / cover
			&>*
				position: relative
				z-index: 1
		&__right
			position: relative
			font-size: 18px
			padding-left: 40px
			&::before
				content: ''
				position: absolute
				width: 200%
				height: 100%
				left: 0
				top: 0
				background-color: #F9F9F9
			&>*
				position: relative
		&__input
			width: 100%
			max-width: 470px
	&-req
		overflow: hidden
		&__left
			font-size: 18px
			padding-left: 30px
			padding-right: 10px
			position: relative
			height: 100%
			&::before
				content: ''
				position: absolute
				width: 200%
				height: 100%
				right: 0
				top: 0
				background-color: #F9F9F9
			&>*
				position: relative
		&__right
			position: relative
			font-size: 18px
			padding-left: 40px
			&::before
				content: ''
				position: absolute
				width: 200%
				height: 100%
				left: 0
				top: 0
				background-color: #F9F9F9
			&>*
				position: relative
		&__right
			position: relative
			height: 100%
			&::before
				content: ''
				position: absolute
				right: 0
				top: 0
				width: 200%
				height: 100%
				background: url('../img/contacts-feed__left-bg.jpg') no-repeat 50% 50% / cover
			&>*
.job
	&__item
		padding: 30px
		background-color: #fff
		border-radius: 4px
		overflow: hidden
		min-height: 240px
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: flex-start
		position: relative
		&::before
			content: ''
			position: absolute
			width: 174px
			height: 200px
			top: 50%
			margin-top: -100px
			right: 30px
			background-position: 50% 50%
			background-size: contain
			background-repeat: no-repeat
		&>*
			position: relative
		&-ttl
			font-size: 28px
			font-family: $ubold
			max-width: 300px
		&-flag
			color: #fff
			font-family: $ubold
			position: relative
			padding: 15px 30px 15px 0
			// display: inline
			&::before
				content: ''
				position: absolute
				left: -40px
				top: 0
				width: 130%
				height: 100%
				transform: skew(-20deg)
			span
				position: relative
		&_hot
			&::before
				background-image: url('../img/job__img_1.png')
			.job__item-flag
				&::before
					background-color: #FA712D
		&_fix
			&::before
				background-image: url('../img/job__img_2.png')
			.job__item-flag
				&::before
					background-color: $blue
	&__info
		background-color: #fff
		border-radius: 4px
		padding: 40px
		.section
			&__ttl
				font-size: 26px
				font-family: $ureg
			&__subttl
				font-size: 26px
				font-family: $ubold
				text-align: left
		&-item
			max-width: 370px
			margin-left: auto
			margin-right: auto
			padding: 25px
			background: url('../img/job__info-bg.jpg') no-repeat 50% 50% / cover
	&-offer
		background-color: #FEF4D3
		&__item
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			padding: 20px 15px
			min-height: 205px
			height: 100%
			max-width: 370px
			margin-left: auto
			margin-right: auto
			border-radius: 3px
			overflow: hidden
			position: relative
			background-color: #fff
			&>*
				position: relative
				z-index: 1
			&-bg
				content: ''
				position: absolute
				width: 100%
				height: 100%
				left: 0
				top: 0
				background-position: 50% 50%
				background-size: cover
				background-repeat: no-repeat
				opacity: 0
				border-radius: 3px
				transition: .5s all ease
				// transform: scale(.7)
			&::before
				content: ''
				position: absolute
				width: 100%
				height: 100%
				left: 0
				top: 0
				background-position: 50% 50%
				background-size: cover
				background-repeat: no-repeat
				opacity: 0
				border-radius: 3px
				background-color: $blue
				z-index: 2
				transition: .5s all ease
			&-ttl
				font-size: 18px
				text-align: center
				position: relative
				z-index: 3
			&-img
				position: absolute
				left: 0
				top: 0
				height: 100%
				width: 100%
				background-position: 50% 50%
				background-size: contain
				background-repeat: no-repeat
				&_2
					opacity: 0
				&-wrp
					width: 100%
					height: 75px
					margin-bottom: 10px
					position: relative
					z-index: 3
			&:hover
				.job-offer__item
					&-ttl
						color: #fff
					&-img
						&_1
							opacity: 0
						&_2
							opacity: 1
					&-bg
						opacity: 1
						transform: scale(1.2)
				&::before
					opacity: .9
	&-page
		font-size: 18px
		background-color: #fff
		border-radius: 4px
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25)
		padding: 30px
		position: relative
		overflow: hidden
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: flex-start
		&::before
			content: ''
			position: absolute
			width: 174px
			height: 200px
			top: 40px
			right: 30px
			background-position: 50% 50%
			background-size: contain
			background-repeat: no-repeat
		&::before
				background-image: url('../img/job__img_1.png')
		&::before
				background-image: url('../img/job__img_2.png')
		&>*
			position: relative
		&__flag
			color: #fff
			font-family: $ubold
			position: relative
			padding: 15px 30px 15px 0
			margin-bottom: 15px
			&::before
				content: ''
				position: absolute
				left: -40px
				top: 0
				width: 130%
				height: 100%
				transform: skew(-20deg)
			&_hot
				&::before
					background-color: #FA712D
			&_fix
					&::before
						background-color: $blue
			span
				position: relative
.comp
	&__item
		max-width: 190px
		width: 100%
		margin: 0px 15px 30px
		text-align: center
		display: flex
		flex-direction: column
		align-items: center
		&-top
			width: 130px
			height: 130px
			background-color: #fff
			border-radius: 5px
			margin-bottom: 15px
			display: flex
			justify-content: center
			align-items: center
		&-img
			width: 70px
			height: 70px
			background-position: 50% 50%
			background-repeat: no-repeat
			background-size: contain
		&-ttl
			font-size: 16px
		&:hover
			transform: translateY(-3px)
			.sol__item-top
				background-color: $yel
.str
	color: #fff
	background: url('../img/str__bg.jpg') no-repeat 50% 0% / cover
	position: relative
	&::before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		right: 0
		top: 0
		background: linear-gradient(106.09deg, #36275c 0.94%, #8777ce91 100%)
		// opacity: .8
	.container
		position: relative
	&__item
		text-align: center
		max-width: 220px
		margin-left: auto
		margin-right: auto
		&-perc
			font-family: $ubold
			font-size: 40px
			padding: 20px 15px 30px
			position: relative
			overflow: hidden
			&::before,
			&::after
				content: ''
				position: absolute
				width: 100%
				height: 100%
				left: 0
				top: 0
			&::before
				background: linear-gradient(180deg, #FFFFFF -41.45%, #26166F -41.44%, rgba(38, 22, 111, 0) 94.02%)
			&::after
				opacity: 0
				transform: translateY(-140px)
				transition: .6s all ease
				background: linear-gradient(180deg, #FA712D -41.45%, rgba(250, 113, 45, 0) 94.02%)
			span
				position: relative
				z-index: 1
		&:hover
			.str__item-perc
				&::after
					opacity: 1
					transform: translateY(0)
.rev
	// background-color: #fff
	border-radius: 5px
	&__item
		background-color: #fff
		margin-bottom: 30px
		padding: 25px
		&-img
			width: 100%
			max-width: 250px
			height: 350px
			position: relative
			display: flex
			justify-content: center
			align-items: center
			background-position: 50% 50%
			background-repeat: no-repeat
			background-size: cover
			border-radius: 4px
			overflow: hidden
			&::before
				content: ''
				position: absolute
				width: 100%
				height: 100%
				left: 0
				top: 0
				background-color: $purp
				opacity: 0
				transform: scale(1.2)
			&-more
				width: 83px
				height: 83px
				background: url('../img/icon__more.png') no-repeat 50% 50% / contain
				opacity: 0
				transform: scale(1.2)
			span
				position: relative
			&:hover
				&::before
					opacity: .7
					transform: scale(1)
				.rev__item-img-more
					opacity: 1
					transform: scale(1)
		&-ttl
			font-family: $ubold
			font-size: 20px
		&-file
			color: $blue
			&:hover
				transform: translateX(5px)
		&-name
			font-size: 18px
		&-link
			color: $blue
			display: block
			&:hover
				transform: translateX(5px)